# Database Configuration
db_name='db_name'
db_host='db_host'
db_user='db_user'
db_pwd='db_pwd'
db_port='db_port'
ADMIN_KEY='ADMIN_KEY'

# Email Configuration
EMAIL_USER=your_email@163.com
EMAIL_PASS=your_email_authorization_code

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Configuration
JWT_SECRET=your_jwt_secret_key

# Server
SERVER_PORT=3003